# variables that can be overriden
#
#
#
# instance the provider
# use libvirt provider
terraform {
  required_providers {
    libvirt = {
      source = "dmacvicar/libvirt"
    }
  }
}

provider "libvirt" {
  uri = "{{ provider_uri }}"
}


terraform {
  required_version = ">= {{ terraform_version }}"
}
